{% extends "base.html" %} {% block content %}
<h2>{% if mode == "add" %}Add Employee{% else %}Edit Employee{% endif %}</h2>

<form method="post">
  <label>First name</label>
  <input
    name="first_name"
    value="{{ row.first_name if row else '' }}"
    required
  />

  <label>Last name</label>
  <input name="last_name" value="{{ row.last_name if row else '' }}" required />

  <button class="btn" type="submit">Save</button>
  <a class="btn" href="{{ url_for('table_view', table_name='Employee') }}"
    >Cancel</a
  >
</form>
{% endblock %}
